<html>
   <head>
      <title>Capstone Project</title>
      {% load static %}
      <link rel="shortcut icon" href="#">
      <link rel="stylesheet" href="/static/css/style.css">
   </head>
   <body>
      <h1 style="text-align:center;">Welcome ToLittleLemon Restaurant</h1>
      <img src="{% static 'img/logo.png' %}">
      <nav>
         <ul>
            <li><a href="/menu">Menu</a></li>
            <li><a href="/booking">Booking</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Logout</a></li>
         </ul>
      </nav>
      {% block title %}
      {% endblock %}
      {% block content %}
      {% endblock %}
   </body>
   <footer>
      <p>Contacts</p>
      <p>Social Medias</p>
   </footer>
</html>