{% extends "base.html" %}
    {% block content %}
        <h1>Sign up</h1>
        <form action="/sign-up/validate/" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <label for="password">Confirm password</label>
            <input type="password" id="password_confirmation" required>
            <button type="submit">Create Account</button>
        </form>
        <p>You already have an Account? Sign in now!</p>
        <form method="GET" action="/login">
            <button id="go_to_sign_up">Sign in</button>
        </form>
    {% endblock %}