{% extends "base.html" %}
{% block title %}
    <h1>Log In</h1>
{% endblock %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <label for="username">Name </label>
        <input type="text" name="username" id="username">
        <label for="password">Password </label>
        <input type="password" name="password" id="password">
        <button type="submit">send</button>
    </form>
    <form method="GET" action="/sign-up">
        <p>Don´t have an Account yet? Get started now!</p>
        <button id="go_to_sign_up">Sign up</button>
    </form>
{% endblock %}